# API CONFIGURATIONS
API_PORT=
NODE_ENV= # development, production or test
CORS_ORIGIN= # comma-separated list of allowed origins, e.g. http://localhost:3000,http://localhost:3001

# DATABASE CONFIGURATIONS
DATABASE=
DATABASE_HOST=
DATABASE_PORT=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_URL=

# LOGIN CONFIGURATIONS
TOKEN_SECRET=
TOKEN_EXPIRATION=